body{
    font-family: Georgia;
    line-height: 23px;
}
.titol{
    color: red;
    text-transform: uppercase;
    font-size: 40px;
    font-style: italic;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: Georgia;
    cursor: pointer;
    -webkit-animation-name: colors;
    -webkit-animation-duration: 10s;
    animation-name: colors;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    text-decoration: underline;
}
@keyframes colors {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: red;}

.descripcio, .personatges, .cinemes, .imatges, .opinio, .links, .fitxatecnica, .descripciopersonatges{
    position:  static;
}

.titoldescripcio, .personatgestitol, .llistapersonatges, .cinemestitol, .imatgestitol, .opiniotitol, .linkstitol, .fitxatitol, .descripciopersonatgestitol {
    text-decoration: underline;
}
table, tr, th, td{
    border: solid black 1px;
    border-collapse: separate;    
}
.formulari{
    position: relative;
    width: 45%;
}
.img1{
    height: 35%;
    width: 45%;
    float: left;
}
.img2{
    height: 35%;
    width: 55%;
}
.video{
    height: 35%;
    width: 45%;
}
.descripciopersonatges{
    text-justify: auto;
}
.img3, .img4, .img6, .img7, .img8{
    height: 30%;
    width: 45%;
}
.img5{
    height: 30%;
    width: 30%;
}